.cardContainer{
    width: auto;
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}

.Titulo2{
    font-size: 1.5rem;
    font-family: 'Cinzel';
    letter-spacing: 5px;
    text-align: center;

}
