@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap");



a {
    text-decoration: none !important;
}

.validationContainer{
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}

.SalesContainer{
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}

.btnCancel
{
background-color: rgb(245, 139, 139);
}

.btnOk
{
background-color: rgb(151, 238, 151);
}